body {
  text-align: center;
  background-color: #00277c;
  
}
.container {
  max-width: 600px;
  margin: auto;
  padding: 40px 20px;
}

h1 {
  color: #45d93d;
}


h2 {
  color: #ff0004;
  margin-top: 50px;
  margin-bottom: 50px;
}
#solution {
  margin-top: 21px;
  font-size: 25px;
  color: #ff0000;
}


button {
  background-color: #ff00c3;
  color: white;
  padding: 15px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 15px;
}

.answer {
  margin-top: 75px;
  color: white;
}

@media (max-width: 768px) {

  .container {
    width: 100%;
    grid-template-columns:auto;

  }

}
 .answer {
  transition: all 0.3s ease;
}